<div class="row">
    <ul class="full-width-orbit" data-orbit data-options="navigation_arrows:false; slide_number:false;  bullets: false;">
        <!-- <li>
                <div class="row" data-equalizer>
                    <div class="small-6 columns" data-equalizer-watch>
                        <img src="images/hair-dresser.png" />
                    </div>
                    <div class="small-6 columns" style="display: table" data-equalizer-watch>
                        <div style="display: table-cell; vertical-align: middle;">
                            <h2>Hair Dresser?
                                <span>Maybe not</span>
                            </h2>
                            <h3>Find out your life’s true calling. take the quiz ></h3>
                        </div>
                    </div>
                </div>
            </li> -->
        <li>
            <img src="http://placehold.it/1200x350&text=Slide 1" />
        </li>
        <li class="active">
            <img src="http://placehold.it/1200x350&text=Slide 2" />
        </li>
        <li>
            <img src="http://placehold.it/1200x350&text=Slide 3" />
        </li>
    </ul>
</div>
<div class="profiles">
    <div class=" profile profile-tim">
        <div class="profile-top">
            <div class="row">
                <div class="large-12 small-centered text-center columns image">
                    <div class="profile-title left push-2">
                        <h1>Meet Tim</h1>
                        <h3>He writes copy for websites</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-bottom">
            <div class="row">
                <div class="large-6 small-centered text-center columns text">
                    <p>Actually, he's not bad at it. But he finds it intensely boring. So boring that he occasionally falls asleep while writing stuff and bashes his head on the keyboard. He was having trouble finding freelance jobs, so we let him write the copy for this site. So far so good</p>
                </div>
            </div>
        </div>
    </div>
    <div class="profile profile-isaac">
        <div class="profile-top">
            <div class="row">
                <div class="large-12 small-centered text-center columns image">
                    <div class="profile-title right pull-2">
                        <h1>Meet Isaac</h1>
                        <h3>A chef who's a little too experimental</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-bottom">
            <div class="row">
                <div class="large-6 small-centered text-center columns text">
                    <p>No, seriously. The last time he tried to fry rice, the peas were burnt, there was more salt than rice and you
                        <em>really</em>don't want to know what his 'secret ingredient' is.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="profile profile-anna">
        <div class="profile-top">
            <div class="row">
                <div class="large-12 small-centered text-center columns image">
                    <div class="profile-title left push-2">
                        <h1>Meet Anna</h1>
                        <h3>A dentist who is afraid of blood</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-bottom">
            <div class="row">
                <div class="large-6 small-centered text-center columns text">
                    <p>We're pretty sure it's not great for business if you pass out whenever you perform a root canal.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="light-blue">
    <div class="row">
        <div class="large-12 small-centered text-center columns">
            <br>
            <h3>Right across NSW there are hundreds of students that are rediscovering their true passions.
                <br>
                <small>At Macleay College our unique set of courses offers the students the flexibility that will help them make the right decisions for their own career paths.</small>
            </h3>
            <br>
        </div>
    </div>
</div>
<div class="video-holder black">
    <div class="row">
        <div class="large-10 small-centered text-center columns">
            <br>
            <div class="flex-video widescreen youtube">
                <iframe width="1280" height="720" src="//www.youtube.com/embed/ql2xLcsF-Qs" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="three-dots-holder middle-blue">
    <br>
    <div class="light-blue">
        <div class="row" data-equalizer>
            <div class="large-6 small-8 columns three-dots" data-equalizer-watch>
                <a href="https://www.facebook.com/macleaycollege">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="https://twitter.com/MacleayCollege">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="https://www.youtube.com/user/macleaycollege">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="https://www.linkedin.com/groups?gid=4319038">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </div>
            <div class="large-6 small-4 columns text-right" style="display: table" data-equalizer-watch>
                <div style="display: table-cell; vertical-align: middle;" class="squeeze">Your True Calling.</div>
            </div>
        </div>
    </div>
    <hr class="dark-blue" />
    <div class="row">
        <div class="small-12 large-5 columns">
            <h3 data-fittext class="text-caps">
                Macleay College
            </h3>
        </div>
        <div class="small-12 large-2 columns">
        </div>
        <div class="small-12 large-5 columns text-right">
            <h3 class="text-caps">Phone 1300 939 888</h3>
            <span>At offictur, cus, cus aut omnimus necus netue ebisci id moloresequo</span>
        </div>
    </div>
</div>
<div class="map-holder">
    <div class="map" map center="28 Foveaux St, Surry Hills NSW 2010" zoom="17" zoom-control="true" pan-control="true" map-type-control="false" scaleControl="true" scrollwheel="false" styles='[{
                        "featureType": "all",
                        "elementType": "all",
                        "stylers": [{
                            "invert_lightness": true
                        }, {
                            "saturation": 60
                        }, {
                            "lightness": 10
                        }, {
                            "gamma": 1
                        }, {
                            "hue": "#003756"
                        }]
                    }]
            '>
        <div marker position="[28 Foveaux St, Surry Hills NSW 2010]" visible="true" title="Macleay College" draggable="false"></div>
    </div>
</div>

<div class="survey-cta">
    <div class="row">
        <div class="large-12 columns text-center">
            <h3>You’re at the bottom of the page.
                <br>
                <span class="subheading">Come on, give the quiz a go! <a href="#/quiz">Find out your true calling ></a>
                </span>
            </h3>
        </div>
    </div>
</div>
